html,
body {
  padding: 0;
  margin: 0;
  background: #8BBCCC;
  background-image: url("/bloodvector.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: #e8e8e8;
} 

a {
  color: inherit;
  text-decoration: none;
}
